.landingpage
  text-align center


  .content
    height 500px
    width 400px
    margin auto
    position absolute
    top -200px
    left 0
    bottom 0
    right 0

    img
    	margin-bottom 20px