.login
  height 500px
  margin auto
  position absolute
  top -400px
  left 0
  bottom 0
  right 0
  width 300px

  img
    margin-bottom 20px

  p
    margin-bottom 0px

  input
    width 250px

  .btn
    width 250px
    margin-bottom 10px