.container-fluid
  margin-right auto
  margin-left auto
  max-width 1000px

.drop-shadow
  -webkit-box-shadow 0 0 15px 3px rgba(0, 0, 0, .3)
  box-shadow 0 0 15px 3px rgba(0, 0, 0, .3)
  padding 25px

.fa-bolt
  color #ff7518

.well
  overflow-x hidden

body
  background-color #fff

body > .ember-view
  position absolute
  bottom 0px
  height 100%
  width 100%
  background-image url('static/images/background.jpg')
  background-size 100% auto
  background-position center bottom
  background-attachment fixed
  background-repeat no-repeat
  overflow-y scroll

a
  cursor pointer

#information
  display none
  position fixed
  z-index 9999
  max-width 80%
  left 50%
  transform translate(-50%, 0)

.navbar-fixed-bottom

  .navbar-inner
    padding 0

  .nav
    margin 0
    display table
    width 100%

    li
      display table-cell
      float none

      a
        font-weight bold
        text-align center
.page
  background-color #eee
  padding 20px

.text-middle
  vertical-align middle !important

.list-group-item
  word-wrap break-word !important