.rooms
  .room
    overflow hidden
    height 200px
    float left
    width 250px
    padding 25px
    margin 15px
    transition box-shadow 300ms

    h1,
    p
      color black

  .room:hover
    transition box-shadow 300ms
    @extends .drop-shadow