.panel-heading
  .h3.panel-title = title
.list-group = each rooms
  link-to "page" id firstPage class="list-group-item"
    h4.list-group-item-heading
      i.fa.fa-graduation-cap &nbsp;
      span = title
    if description
      p.list-group-item-text = description